* {
    box-sizing: border-box;
}

:root {
    --c-lightest: #fff;
    --c-light: #f5f5f5;
    --c-medium-light: #cbcbcb;
    --c-medium: #0000004d;
    --c-dark: #4e4e4e;
    --c-text: #4e4e4e;   
    --c-error: #eb4840;
}

body {
    margin: 0;
    background: var(--c-dark);
    color: var(--c-light);
    
}

.app {
    min-height: 100vh;
    min-width: 100vw;
}

.error-text {
    color: var(--c-error);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0.75rem;
}